In [103]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [104]:
pima = pd.read_csv("diabetes.csv")

In [105]:
pima.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [106]:
#Drop skinthickness col becouse it does not efffect on result
pima.drop('SkinThickness', axis=1, inplace=True)

In [107]:
pima.describe()

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [108]:
pima.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,
0,3.298000,109.980000,68.184000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,100.335821,35.142537,0.550500,37.067164

In [109]:
X = pima.drop(columns = 'Outcome', axis=1)
Y = pima['Outcome']

In [110]:
#scaler = StandardScaler()

In [111]:
#scaler.fit(X)

In [112]:
#standardized_data = scaler.transform(X)

In [113]:
#X = standardized_data

In [114]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=0)

In [115]:
Model = svm.SVC(kernel='linear')

In [116]:
Model.fit(X_train, Y_train)

SVC(kernel='linear')

In [117]:
# accuracy score on the training data
X_train_prediction = Model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [118]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7768729641693811

In [119]:
# accuracy score on the test data
X_test_prediction = Model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [120]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7857142857142857